body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;
}
.video {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1;
  top: 0;
  z-index: -1;
}
.container {
  justify-content: center;
}
h1 {
  font-size: 80px;
  color: rgba(244, 63, 63, 0.984);
  font-weight: 550;
  font-family: "Bangers", system-ui;
  font-style: normal;
  letter-spacing: 7px;
  cursor: pointer;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgb(243, 229, 152);
}
h1 span {
  transition: 0.5s;
}
h1:hover span:nth-child(1) {
  margin-right: 10px;
}
h1:hover span {
  color: #f0f2f4;
  text-shadow: 0 0 10px #f0f2f4, 0 0 20px #f0f2f4, 0 0 80px #f0f2f4,
    0 0 120px #f0f2f4, 0 0 160px #f0f2f4;
}
.texte {
  text-align: left;
  margin-left: 150px;
}
button.btn {
  width: 10%;
  padding: 0.5rem;
  border-radius: 20px;
  border-color: rgb(243, 229, 152);
}
button.btn.btn-random {
  width: 10%;
  padding: 0.5rem;
  border-radius: 20px;
  border-color: rgb(243, 229, 152);
}
button.btn:hover {
  background: rgb(226, 181, 31);
}
form {
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}
form input {
  width: 17%;
  padding: 0.5rem;
  border-radius: 20px;
  border-color: rgb(243, 229, 152);
}
/* loading */
.loading .pokeball {
  display: inline-block;
  max-width: 120px;
  margin: 2rem 1rem;
  animation: loadingEffect 1s infinite;
}
@keyframes loadingEffect {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* result */
.result.active {
  cursor: pointer;
  width: 200px;
  height: 350px;
  margin: 1.2rem auto 0;
  color: rgba(244, 63, 63, 0.984);
  text-transform: uppercase;
  text-align: right;
  margin-right: 1200px;
}

.contain {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.pokebox {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia(30%);
}

.abilities {
  font-family: "Bangers", system-ui;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia(30%);
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia(80%);
  font-family: "Bangers", system-ui;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  color: rgb(243, 229, 152);
}

p span.abi {
  color: rgba(244, 63, 63, 0.984);
}

p span.typ {
  color: rgba(244, 63, 63, 0.984);
}

.pokebox.found .pokename {
  font-family: "Bangers", system-ui;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
}

.pokebox.found .pokemon {
  margin-bottom: 1rem;
  width: 110px;
  height: 180px;
}
/* notfound */
.pokebox.notfound {
  color: rgba(244, 63, 63, 0.984);
  justify-content: center;
  font-size: 1.1em;
  font-family: "Bangers";
  letter-spacing: 3px;
  font-weight: 100;
  width: 250px;
}
.pokebox.notfound h4 {
  font-size: 3.5em;
}
.pokebox.notfound span.pokenumber {
  color: rgb(243, 229, 152);
}
.d-none {
  display: none;
}
