body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;
}
.video {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1;
  top: 0;
  z-index: -1;
}
.container {
  justify-content: center;
}
h1 {
  font-size: 100px;
  color: rgba(244, 63, 63, 0.984);
  font-weight: 550;
  font-family: "Bangers", system-ui;
  letter-spacing: 7px;
  cursor: pointer;
  -webkit-text-stroke: 0.8px;
  -webkit-text-stroke-color: rgb(243, 229, 152);
  margin-bottom: 1.5vw;
}
h1 span {
  transition: 0.5s;
}
h1:hover span:nth-child(1) {
  margin-right: 10px;
}
h1:hover span {
  color: rgb(245, 157, 5);
  text-shadow: 0 0 10px rgb(245, 157, 5), 0 0 20px #fffffd, 0 0 80px #fffffd,
    0 0 120px #fffffd, 0 0 160px #fffffd;
}
.texte {
  text-align: left;
  margin-left: 8vw;
}
button.btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border-color: rgb(243, 229, 152);
}
button.btn.btn-random {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border-color: rgb(243, 229, 152);
}
button.btn:hover {
  background: rgb(245, 157, 5);
}
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
form input {
  padding: 0.5rem 1rem;
  width: 15%;
  border-radius: 20px;
  border-color: rgb(243, 229, 152);
}
/* loading */
.loading .pokeball {
  display: inline-block;
  max-width: 120px;
  margin: 2rem 1rem;
  animation: loadingEffect 1s infinite;
}
@keyframes loadingEffect {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* result */
.result.active {
  cursor: pointer;
  height: 350px;
  margin: 1.2rem auto 0;
  color: rgb(245, 157, 5);
  text-align: right;
  margin-right: 1160px;
}
.contain {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.pokebox {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia(100%);
  border-radius: 20px;
}
.abilities {
  font-family: "Bangers";
  font-size: 1.2rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia(100%);
  border-radius: 20px;
}
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia(100%);
  font-family: "Bangers";
  line-height: 1;
  letter-spacing: 3px;
  margin-top: 0.5;
  margin-bottom: 0.5rem;
  color: rgba(244, 63, 63, 0.984);
  line-height: 1.1rem;
}
p span.abi {
  color: rgb(245, 157, 5);
  letter-spacing: 3xp;
  font-size: 1.1em;
}
p span.typ {
  color: rgb(245, 157, 5);
  font-size: 1.1em;
}
.pokebox.found .pokename {
  font-family: "Bangers";
  line-height: 1.8rem;
  font-size: 1.6em;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
}
.pokebox.found .pokemon {
  margin-bottom: 0.7rem;
  width: 110px;
  height: 200px;
}

/* notfound */
.pokebox.notfound {
  color: rgba(244, 63, 63, 0.984);
  justify-content: center;
  font-family: "Bangers";
  letter-spacing: 3px;
  width: 230px;
}
.pokebox.notfound h4 {
  font-size: 3.5em;
  font-weight: 150;
}
.pokebox.notfound span.pokenumber {
  color: rgba(244, 63, 63, 0.984);
  font-size: 1.2;
}
.d-none {
  display: none;
}
